* {
	margin: 0;
	font-family: "Bruno Ace", ui-sans-serif, system-ui;
    color: white;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #0C0C0C;
    overflow: auto;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

